body{
    width:100vw;
    height:100vh;
}button{
    background-color:rgba(255,0,0,0.8);
    font-size: 12px;
}.greenbtn{
    background-color: rgba(0,255,0,0.8) !important;
}#secondsub{
    display:none;
}.col-6{
    word-wrap: break-word;
    overflow-wrap: anywhere; 
    white-space: normal; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}.update-btn{
    font-size: 14px;
}